<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_field :email, required: true, autofocus: true %>
    <%= f.text_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.text_field :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.submit "Зарегистрироваться" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
