.page-header
  %h1 Настройки

.row
  .col-xs-12
    %ul.nav.nav-tabs
      %li.active= link_to 'Простые', '#text', 'data-toggle' => 'tab'
      %li= link_to 'Текстовые', '#textarea', 'data-toggle' => 'tab'
      %li= link_to 'HTML', '#html', 'data-toggle' => 'tab'
      %li= link_to 'SEO шаблоны', '#seo-templates', 'data-toggle' => 'tab'
      %li= link_to 'Парсинг', '#parsing', 'data-toggle' => 'tab'
      %li= link_to 'Действия', '#actions', 'data-toggle' => 'tab'
  .col-md-12
    .tab-content
      #text.tab-pane.active.fade.in
        %ul.list-group
          = render @confs.reject{ |c| c.var =~ /(^txt\.)|(^ck\.)/ }.sort_by(&:created_at)
      #seo-templates.tab-pane
        %h2 SEO-шаблон товаров
        - %w(название главное-имя цена старая-цена название-категории название-категории-1 бренд).each do |key|
          %li.list-group-item= key
        %h2 SEO-шаблон категорий
        - %w(имя-мн имя-ед).each do |key|
          %li.list-group-item= key
      #parsing.tab-pane
        %h2 Источники парсинга (указывать через пробел)
        %li.list-group-item rozetka
        %li.list-group-item hotline
        %li.list-group-item brain
        %li.list-group-item erc
        %li.list-group-item yugcontract
      #html.tab-pane
        %ul.list-group
          = render @confs.select{ |c| c.var =~ /^ck\./ }.sort_by(&:created_at)
      #textarea.tab-pane
        %ul.list-group
          = render @confs.select{ |c| c.var =~ /^txt\./ }.sort_by(&:created_at)
      #actions.tab-pane
        %li.list-group-item= link_to 'Автоматическое привязывание', admin_internal_action_path(act: 'binder'), method: :post
        %li.list-group-item= link_to 'Карта сайта', admin_internal_action_path(act: 'sitemap'), method: :post
        %li.list-group-item= link_to 'Автообновление прайсов', admin_internal_action_path(act: 'pricelist_auto'), method: :post
        %li.list-group-item= link_to 'Прайслист яндекса', admin_internal_action_path(act: 'pricelist_ym'), method: :post
        %li.list-group-item= link_to 'Общий прайслист', admin_internal_action_path(act: 'pricelist_pn'), method: :post
        %li.list-group-item= link_to 'Очистить кэш сайта', admin_internal_action_path(act: 'clear_cache'), method: :post
