.page-header
  %h1 Настройки

.row
  .col-xs-12
    %ul.nav.nav-tabs
      %li.active= link_to 'Простые', '#text', 'data-toggle' => 'tab'
      %li= link_to 'Текстовые', '#textarea', 'data-toggle' => 'tab'
      %li= link_to 'HTML', '#html', 'data-toggle' => 'tab'
      %li= link_to 'SEO шаблоны', '#seo-templates', 'data-toggle' => 'tab'
      %li= link_to 'Парсинг', '#parsing', 'data-toggle' => 'tab'
  .col-md-12
    .tab-content
      #text.tab-pane.active.fade.in
        %ul.list-group
          = render @confs.reject{ |c| c.var =~ /(^txt\.)|(^ck\.)/ }.sort_by(&:created_at)
      #seo-templates.tab-pane
        %h2 SEO-шаблон товаров
        - Catalog::Product::SEO_MAPPER.keys.each do |key|
          %li.list-group-item= key
        %h2 SEO-шаблон категорий
        - Catalog::Category::SEO_MAPPER.keys.each do |key|
          %li.list-group-item= key
      #parsing.tab-pane
        %h2 Источники парсинга (указывать через пробел)
        %li.list-group-item rozetka
        %li.list-group-item hotline
        %li.list-group-item brain
        %li.list-group-item erc
        %li.list-group-item yugcontract
      #html.tab-pane
        %ul.list-group
          = render @confs.select{ |c| c.var =~ /^ck\./ }.sort_by(&:created_at)
      #textarea.tab-pane
        %ul.list-group
          = render @confs.select{ |c| c.var =~ /^txt\./ }.sort_by(&:created_at)

