.page-header
  %h1 Настройки

.row
  .col-md-4

    %ul.list-group
      = render @confs.reject{ |c| c.var =~ /(^txt\.)|(^ck\.)/ }.sort_by(&:created_at)
      %h2 SEO-шаблон товаров
      - Catalog::Product::SEO_MAPPER.keys.each do |key|
        %li.list-group-item= key
      %h2 SEO-шаблон категорий
      - Catalog::Category::SEO_MAPPER.keys.each do |key|
        %li.list-group-item= key
      %h2 Источники парсинга (указывать через пробел)
      %li.list-group-item rozetka
      %li.list-group-item hotline
      %li.list-group-item brain
      %li.list-group-item erc
      %li.list-group-item yugcontract
  .col-md-8
    %ul.list-group
      = render @confs.select{ |c| c.var =~ /^txt\./ }.sort_by(&:created_at)
  .col-md-12
    %ul.list-group
      = render @confs.select{ |c| c.var =~ /^ck\./ }.sort_by(&:created_at)
