%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#navbar"}, :aria => {:expanded => "false", :controls => "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Conf[:site_name], root_path, :class => "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Корзина', order_path
        - if current_user
          - if current_user.admin?
            %li= link_to 'Админ', admin_path
          %li= link_to 'Личный кабинет', user_path
          %li= link_to 'Выйти', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Зарегистрироваться', new_user_registration_path
          %li= link_to 'Войти', new_user_session_path
