%b
  %center
    = order.name.presence || 'Имя не указано'
    - if user = order.user
      ( #{link_to user.name.presence || 'Имя не указано', edit_admin_user_path(user)} )
      %i
        [ #{user.total_income} / #{user.clean_total_income} ]
= number_to_phone(order.phone[3..-1], country_code: 380) rescue '-'
- if order.user
  (#{number_to_phone(order.user.try(:phone)[3..-1], country_code: 380) rescue '-'})
%br/
%hr/
%i= order.address
%br/
%hr/
%i= order.delivery_type
%br/
%hr/
%i= order.payment_type
