.row
  .col-sm-6
    %table.table.table-bordered{ style: 'color: #333' }
      %tr
        %td Имя
        %td= order.name.presence || 'не указано'
      %tr
        %td Телефон
        %td= number_to_phone(order.phone[3..-1], country_code: 380) rescue '-'
  .col-sm-6
    - if user = order.user
      %table.table.table-bordered{ style: 'color: #333' }
        %tr
          %td Имя
          %td
            =link_to edit_admin_user_path(user) do
              = user.name.presence || 'не указано'
        %tr
          %td Телефон
          %td= number_to_phone(user.phone[3..-1], country_code: 380) rescue '-'
.row
  .col-sm-4
    %h5 Адрес
    = order.address
  .col-sm-4
    %h5 Доставка
    = order.delivery_type
  .col-sm-4
    %h5 Оплата
    = order.payment_type
