.row
  .col-sm-12
    = form_for(@order, url: @order.persisted? ? admin_order_path(@order) : admin_orders_path , remote: true, data: { autoupdate: true }) do |f|
      = render 'shared/error_messages', object: f.object
      .row
        .col-sm-4= field_for f, :name
        .col-sm-4= field_for f, :phone, :phone_field
        .col-sm-4= select_field_for f, :user_id, User.all.map{ |u| [u.form_display, u.id] }
      .row
        .col-sm-3= select_field_for f, :state, Order::STATES.map{ |s| [t("orders.states.#{s}"), s] }
        .col-sm-3= select_field_for f, :payment_type,  Order.delivery_types
        .col-sm-3= select_field_for f, :delivery_type, Order.payment_types
        .col-sm-3= field_for f, :address, :text_area, rows: 8

.row
  .col-sm-8
    = form_for(@order, url: @order.persisted? ? admin_order_path(@order) : admin_orders_path) do |f|
      = field_for f, :comment, :text_area, rows: 8
      .form-actions
        = f.submit 'Отправить', class: 'btn btn-success'
  .col-sm-4
    = comment
