- f.inputs 'Заказ' do
  = f.input :name
  = f.input :phone, as: :phone
  = f.input :delivery_type, as: :select
  = f.input :payment_type, as: :select
  = f.input :user, as: :select
  = f.input :state
  = f.input :address, as: :text
  = f.input :comment, as: :text
  = f.input :created_at
  = f.input :completed_at
- f.inputs 'Товары' do
  - f.has_many :line_items, allow_destroy: false do |li|
    = li.input :quantity
    =# li.input :product
