%i
  %b
    %center
      №
      = order.id
%i= I18n.l(order.created_at, format: "%e %b, %H:%M")
%br/
%i= I18n.l(order.updated_at, format: "%e %b, %H:%M")
%hr/
%b Вход:
%i= order.total_sum - order.total_income
%br/
%b Продажа:
%i= order.total_sum
%br/
%b Прибыль:
%i= order.total_income
%br/
%b Товаров:
%i= order.items_count
