.panel.panel-default
  .panel-heading
    %h3.panel-title
      %small.pull-right= li.object.product.id
      = link_to li.object.product.name, edit_admin_product_path(li.object.product)
  .panel-body
    = li.select :vendor, options_for_select(Vendor::Merchant.all.map{ |m| [m.name] }, li.object.vendor), {},class: 'form-control'
    %br/
    .row

      .container-fluid

        .col-sm-4
          .row
            .text-center
              = link_to edit_admin_product_path(li.object.product) do
                = image_tag 'lazy-spinner.gif', class: 'img-responsive thumbnail lazy', 'data-original' => li.object.presents(product).preview_path
              %small ( #{li.object.quantity} шт. )
              %br/


        .col-sm-8

          %table.table.table-bordered.color-black
            %tr
              %td Цена
              %td= li.object.client_price
            %tr
              %td Вход
              %td= li.object.in_price
            %tr
              %td Прибыль
              %td= li.object.income
        .col-xs-12
          = field_for li, :serial_numbers, :text_area, rows: li.object.quantity


  .panel-footer
    .row
      .col-sm-6
        #{li.object.price} грн. шт.
      .col-sm-6
        = li.number_field :quantity, class: 'form-control'
