.page-header
  = link_to admin_orders_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  .label{ class: @order.state }= t("orders.states.#{@order.state}")
  %h1
    Заказ №
    = @order.id
    %small
      К оплате:
      %b #{@order.total_sum} грн.
      Прибыль:
      %b #{@order.total_income} грн.
= render 'form', comment: @order.display_comment
