.jumbotron
  = search_form_for @q, url: search_admin_orders_path do |f|
    .row
      .col-xs-12
        .form-group
          = f.search_field :id_eq, class: 'form-control', placeholder: 'Номер'
      .col-xs-3
        .form-group
          = f.select :by_month, options_for_select((1..12).map{ |i| [I18n.l(Date.new(Date.today.year, i, 1), format: "%b"), i] }, params[:q].try(:fetch, :by_month)), {include_blank: false, prompt: 'Выберите месяц'}, class: 'form-control select2'
      .col-xs-3
        .form-group
          = f.select :user_id_eq, options_for_select(User.all.map{ |u| [u.name, u.id] }, params[:q].try(:fetch, :user_id_eq)), {include_blank: false, prompt: 'Выберите клиента'}, class: 'form-control select2'
      .col-xs-3
        .form-group
          = f.select :by_state, options_for_select(Order::STATES.map{ |s| [t("orders.states.#{s}"), s] }, params[:q].try(:fetch, :by_state)), {include_blank: false, prompt: 'По состоянию'}, class: 'form-control select2'
    .row
      .col-xs-3
        .form-group
          = f.date_field :completed_at_gteq, class: 'form-control', placeholder: 'Завершен после'
      .col-xs-3
        .form-group
          = f.date_field :completed_at_lteq, class: 'form-control', placeholder: 'Завершен до'
      .col-xs-3
        .form-group
          = f.date_field :created_at_gteq, class: 'form-control', placeholder: 'Создан после'
      .col-xs-3
        .form-group
          = f.date_field :created_at_lteq, class: 'form-control', placeholder: 'Создан до'
    .form-actions
      = f.submit 'Найти', class: 'btn btn-success'

%h1
  Заказы
  %small (#{@all_orders.count})
.table-responsive
  %table.table.table-bordered.table-hover
    %tr
      %th Инфо
      %th Клиент
      %th Комментарии
      %th
    = render @orders
    = paginate @orders
