.jumbotron
  = search_form_for @q, url: search_admin_orders_path do |f|
    .row
      .col-sm-12
        .form-group
          = f.search_field :id_eq, class: 'form-control', placeholder: 'Номер'
      .col-sm-4
        .form-group
          = f.select :by_month, options_for_select((1..12).map{ |i| [I18n.l(Date.new(Date.today.year, i, 1), format: "%b"), i] }, params[:q][:by_month]), {include_blank: 'Выберите месяц'}, class: 'form-control select2'
      .col-sm-4
        .form-group
          = f.select :user_id_eq, options_for_select(User.all.map{ |u| [u.form_display, u.id] }, params[:q][:user_id_eq]), {include_blank: 'Выберите клиента'}, class: 'form-control select2'
      .col-sm-4
        .form-group
          = f.select :by_state, options_for_select(Order::STATES.map{ |s| [t("orders.states.#{s}"), s] }, params[:q][:by_state]), {include_blank: 'Выберите состояние'}, class: 'form-control select2'

    .row
      .col-sm-3
        .form-group
          = f.date_field :completed_at_gteq, class: 'form-control', placeholder: 'Завершен после'
      .col-sm-3
        .form-group
          = f.date_field :completed_at_lteq, class: 'form-control', placeholder: 'Завершен до'
      .col-sm-3
        .form-group
          = f.date_field :created_at_gteq, class: 'form-control', placeholder: 'Создан после'
      .col-sm-3
        .form-group
          = f.date_field :created_at_lteq, class: 'form-control', placeholder: 'Создан до'
    .form-actions
      = f.submit 'Найти', class: 'btn btn-success'

.page-header
  = link_to new_admin_order_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новый заказ
  %h1
    Заказы
    %small (#{@all_orders.count})

- if @orders.present?
  .table-responsive
    %table.table.table-bordered.table-hover.orders-table
      %thead
        %tr
          %th Инфо
          %th Заказ
          %th Дополнительно
      %tbody= render @orders
      %tfooter
        %tr
          %td.text-center{ colspan: 4 }= paginate @orders
- else
  По данному фильтру заказы не найдены
