.row
  .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    .panel.panel-primary
      .panel-heading
        %h4.panel-title Сменить пароль
      .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.hidden_field :reset_password_token
            .field
              = f.label :password, "Новый пароль", class: 'form-control'
              = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
            .field
              = f.label :password_confirmation, "Подтверждение нового пароля"
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .actions
              = f.submit "Изменить", class: 'btn btn-primary'
          = render "devise/shared/links"
