%footer.jumbotron.bg-main-color
  .container-fluid
    .row
      .col-sm-4
        - cache [ 'logo', Markup.pages ] do
          = render 'shared/pages_menu'
        = Conf['ck.footer1'].html_safe
      .col-sm-4
        = Conf['ck.footer2'].html_safe
      .col-sm-4

        = Conf['ck.footer3'].html_safe
    .row
      .col-xs-12.text-right
        = link_to '/price.xml', class: 'btn btn-primary', title: 'Скачать прайс (XML)' do
          %i.glyphicon.glyphicon-list-alt
    - if current_user.try(:admin?)
      %br/
      .row
        = render 'shared/admin_extended_footer_menu'
