%nav.navbar.navbar-default.navbar-inverse.taxons
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#taxons"}, :aria => {:expanded => "false", :controls => "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand.hidden-md.hidden-lg Навигация
    #taxons.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - Catalog::Taxon.roots.includes(:image).sort_by(&:position).each do |root_taxon|
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              - if root_taxon.image.present?
                .taxon-img= image_tag(root_taxon.image)
              .taxon-name
                %span= root_taxon.name
              .hidden-xs
                %br/
              .text-center
                %span.caret
            %ul.dropdown-menu
              .container-fluid
                - root_taxon.children.select{ |t| t.children.present? && t.children.includes(:category).any?{ |c| c.category.present? } }.sort_by(&:position).in_groups_of(4, false).each do |chapter_taxon_group|
                  .row
                    - chapter_taxon_group.each do |chapter_taxon|
                      .col-sm-3
                        %h4= link_to chapter_taxon.name, t_path(id: chapter_taxon.id, slug: chapter_taxon.slug)
                        %ul
                          - chapter_taxon.children.includes(:category).sort_by(&:position).each do |category_taxon|
                            %li
                              - if category_taxon.category
                                = link_to category_taxon.name, c_path(id: category_taxon.category.id, slug: category_taxon.slug)
                              - else
                                = category_taxon.name
:erb
  <style>
    .taxons .dropdown{
      width: <%= (100.0 / Catalog::Taxon.roots.count)%>%;
    }
  </style>
