- @q ||= Catalog::Product.ransack
- @random_search_word ||= Catalog::Product.order("RANDOM()").first.name.split.first

.jumbotron.bg-main-color.top-bar
  #animated-header.hidden-xs
    %canvas#animated-header-canvas
  .container
    .row
      .col-sm-3
        = Conf['ck.logo'].html_safe
      .col-sm-6
        - cache [ 'logo', Markup.pages ] do
          = render 'shared/pages_menu'
        = Conf['ck.phones'].html_safe
        = render 'shared/main_search_bar'
      .col-sm-3
        %h2 Режим работы
        = Conf['ck.mode'].html_safe
.container.taxons-container

  - cache ['catalog_menu', Catalog::Taxon.pluck(:updated_at).map(&:to_i)] do
    = render 'shared/menu_bar'
