%li.panel.panel-default{ 'data-droppable' => 'product', 'data-product-id' => product.id }
  .panel-heading
    %small.panel-title
      %i= product.name
      %br/
      = link_to 'Открыть', product_path(product)
      Артикул:
      = product.id
      - if product.price.present?
        %b
          Цена:
          = product.price
          грн.
  .panel-body

    %ul.list-group{ 'data-product-id' => product.id }
      = render product.vendor_products.reload.sort_by(&:price)
