%li.panel.panel-default.dropable-product{ 'data-droppable' => 'product', 'data-product-id' => product.id }
  .panel-heading
    %small.panel-title
      .row
        .col-xs-12
          .pull-right
            = link_to edit_admin_product_path(product), target: :_blank, class: 'btn btn-xs btn-primary' do
              %i.glyphicon.glyphicon-new-window
            = link_to admin_product_path(product), method: :delete, class: 'btn btn-xs btn-danger', 'data-confirm' => 'Вы уверены?', remote: true do
              %i.glyphicon.glyphicon-remove
          %i= product.name
  .panel-body
    .row
      .col-xs-2
        = image_tag 'lazy-spinner.gif', class: 'img-responsive thumbnail lazy', 'data-original' => product.preview_path, height: 64, width: 64
        %b #{product.price.to_f.ceil} грн.
        .label.label-warning= product.id
      .col-xs-10
        %ul.list-group{ 'data-product-id' => product.id }
          = render product.vendor_products.reload.sort_by(&:price)
