%li.panel.panel-default.dropable-product{ 'data-droppable' => 'product', 'data-product-id' => product.id }
  .panel-heading
    %small.panel-title
      .row
        .col-xs-12
          .pull-left
            - if product.price.present?
              %small.label.label-info
                %b= product.price
                грн.
            &nbsp;
            %small.label.label-info= product.id
          .pull-right
            = link_to product_path(product), target: :_blank, class: 'btn btn-xs btn-primary' do
              %i.glyphicon.glyphicon-new-window
            = link_to admin_product_path(product), method: :delete, class: 'btn btn-xs btn-danger', 'data-confirm' => 'Вы уверены?', remote: true do
              %i.glyphicon.glyphicon-remove
      %i= product.name
  .panel-body

    %ul.list-group{ 'data-product-id' => product.id }
      = render product.vendor_products.reload.sort_by(&:price)
