.panel.panel-warning
  .panel-heading
    .panel-title Реквизиты заказа
  .panel-body
    = form_for order, url: order_path, remote: true, data: { autoupdate: true } do |f|
      = render 'shared/error_messages', object: f.object
      .col-md-6= field_for f, :name
      .col-md-6= field_for f, :phone, :phone_field
      .col-md-6= select_field_for f, :delivery_type, Order.delivery_types
      .col-md-6= select_field_for f, :payment_type, Order.payment_types
      .col-md-12= field_for f, :address
      .col-md-12= field_for f, :comment, :text_area
  .panel-footer.text-right
    - css_class = 'btn btn-warning'
    - css_class << ' disabled' unless order.ready?
    = credit_for(order.credit_names, order.total_sum)
    = link_to 'Оформить заказ', checkout_order_path, class:  css_class, method: :post, instant: instant, product_id: product_id
