.page-header
  %h1 Корзина
.row
  .col-sm-3
    = render 'products/aside'
  .col-sm-9
    - if @current_order.products.present?
      %table.table.table-bordered.product_table
        %tbody
          %tr
            %th Товар
            %th Цена
            %th Количество
            %th Сумма
          - @current_order.line_items.order(:created_at).includes(product: :images).each do |li|
            = render 'products/order_card', product: li.product, quantity: li.quantity, li_id: li.id

      %h2.text-right
        К оплате:
        .label.label-info= "#{@current_order.total_sum} грн."
      %br/
      .order-form
        = render 'orders/form', order: @current_order, product: nil
    - else
      %p Вы еще не добавили ни одного товара
    = link_to (request.referrer ? request.referrer : root_path) do
      .btn.btn-default Продолжить покупки

