.page-header
  %h1 Корзина
.row
  .col-sm-3
    = render 'products/aside'
  .col-xs-9
    = "<h1>#{@current_order.id}</h1>#{session[:order_id]}".html_safe if Rails.env.development?
    - if @current_order.products.present?
      %table.table.table-bordered.table-striped
        %tbody
          %tr
            %th Товар
            %th Количество
            %th Сумма
          - @current_order.line_items.includes(product: :images).each do |li|
            = render 'products/order_card', product: li.product, quantity: li.quantity, li_id: li.id
      %hr/
      .text-right
        = "#{@current_order.total_sum} грн."
      #order-form= render 'orders/form', order: @current_order
    - else
      %p Вы еще не добавили ни одного товара
    = link_to (request.referrer ? request.referrer : root_path) do
      .btn.btn-default Продолжить покупки

