.jumbotron
  = search_form_for @q, url: search_admin_markups_path do |f|
    .row
      .col-sm-6
        = f.search_field :name_cont, class: 'form-control', placeholder: 'Название'
      .col-sm-6
        .form-group
          = f.select :markup_type_eq, options_for_select(Markup::TYPES.map { |t| [t("activerecord.attributes.markup.types.#{t}"), t] }, params[:q].try(:[], :markup_type_eq)), { prompt: 'По типу страницы', include_blank: true}, class: 'form-control'


    .row
      .col-sm-12
        .text-right
          = f.submit 'Найти', class: 'btn btn-success'

.page-header
  = link_to new_admin_markup_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новая страница

  %h1 Разметки

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Заголовок
        %th Ссылка
        %th Позиция
        %th Активно
        %th Тип
        %th Создано
        %th Обновлено
    %tbody
      - @markups.each do |markup|
        %tr
          %td
            = markup.name
          %td
            = markup.slug
          %td
            = markup.position
          %td
            = t("#{markup.active}")
          %td
            = t("activerecord.attributes.markup.types.#{markup.markup_type}") if Markup::TYPES.include?(markup.markup_type)
          %td
            = I18n.l(markup.created_at, format: "%e %b, %H:%M")
          %td
            = I18n.l(markup.updated_at, format: "%e %b, %H:%M")
          %td
            = link_to 'Изменить', edit_admin_markup_path(markup)
          %td
            = link_to admin_markup_path(markup), method: :delete, class: 'btn btn-xs btn-danger', 'data-confirm' => 'Вы уверены?' do
              %i.glyphicon.glyphicon-remove
  %tfoot
    %tr
      %td.text-center{ colspan: 6 }
        = paginate @markups
