= form_for([:admin, @callback]) do |f|
  %ul.list-group
    %li.list-group-item= field_for(f, :name)
    %li.list-group-item= field_for(f, :phone)
    %li.list-group-item= field_for(f, :active, :check_box)
    %li.list-group-item= field_for(f, :body, :text_area, rows: 8)
  = f.submit 'Отправить', class: 'btn btn-success'
