.jumbotron
  = search_form_for @q, url: search_admin_callbacks_path do |f|
    .row
      .col-sm-4
        .form-group
          = f.label :name
          = f.search_field :name_cont, class: 'form-control'
      .col-sm-4
        .form-group
          = f.label :phone
          = f.search_field :phone_cont, class: 'form-control'
      .col-sm-4
        .form-group
          = f.label :active
          = f.select :active_eq, options_for_select([['да','t'],['Нет','f']], params[:q].try(:[], :active_eq)), { include_blank: true }, class: 'form-control'
    .row
      .col-sm-12
        .text-right
          = f.submit 'Найти', class: 'btn btn-success'

.page-header
  %h1 Коллбэки
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Имя
        %th Телефон
        %th Клиент
        %th Обработан
        %th Создан
    %tbody
      - @callbacks.each do |callback|
        %tr
          %td= callback.name
          %td= callback.phone
          %td= link_to callback.name, edit_admin_user_path(callback)
          %td= callback.active? ? 'Да' : 'Нет'
          %td= I18n.l(callback.created_at, format: "%e %b, %H:%M")
          %td= link_to 'Изменить', edit_admin_callback_path(callback)
          %td
            = link_to admin_callback_path(callback), method: :delete, class: 'btn btn-xs btn-danger', 'data-confirm' => 'Вы уверены?' do
              %i.glyphicon.glyphicon-remove
    %tfoot
      %tr
        %td.text-center{ colspan: 6 }
          = paginate @callbacks
