= form_tag(url_for, method: :get) do
  %ul.list-group
    %li.list-group-item= select_tag 'actions', options_for_select(user_action_types, default_action_type(params)), include_blank: true
    %li.list-group-item= select_tag 'user', options_for_select(user_action_names, default_user_name), include_blank: true
    %li.list-group-item= select_date user_actions_date(params['start'], Date.today - 1.year), prefix: :start
    %li.list-group-item= select_date user_actions_date(params['end'], Date.today), prefix: :end
  = submit_tag 'Найти', class: 'btn btn-success'
