%offer{:available => offer_available, :id => product.id}
  %url= "http://evotex.kh.ua/p/#{product.slug}/#{product.id}"
  %price= product.price.to_f
  %currencyId UAH
  %categoryId{:type => "Own"}= category.id
  %picture
    - image_path = product.images.sort_by(&:position).first.try(:to_s) || "/product_missing.png"
    = URI.join 'http://evotex.kh.ua', image_path
  %name
    - name = ERB::Util.html_escape "#{product.name}"
    - name << " [#{product.id}]" if with_id
    - if words_ary.present?
      - name = Catalog.downcase_words(name, words_ary)
      = name
    - else
      = name
  - if offer_available == 'false'
    %sales_notes
      - if product.price.to_i.in?(1..5000)
        Предоплата не требуется.
      - elsif product.price.to_i.in?(5000..50000)
        Необходима предоплата.
      - else
        Предоплата 100%.
  - if (warr = product.product_properties.detect{ |pp| (pp.catalog_property_id == warranty_id) && (pp.name.to_i > 0) })
    %manufacturer_warranty true
    %param{:name => "Гарантия"}= warr.name.to_i
