!!! XML
%yml_catalog{ date: Time.now }
  %shop
    %name Интернет-магазин электроники Эвотех
    %company Evotex
    %url http://evotex.com.ua
    %currencies
      %currency#UAH{ rate: "1" }
    %categories
      - categories.each do |category|
        %category{ id: category.id }= category.name
    %offers
      - categories.each do |category|
        - category.products.includes(:product_properties, images: [:imageable]).where('price > 0').each do |product|
          - warranty = product.product_properties.detect{ |pp| (pp.catalog_property_id == warranty_id) && (pp.name.to_i > 0) }
          - has_old_price = product.old_price.to_i > 0 && product.old_price.to_i > product.price.to_i
          - image_url = product.images.min_by { |i| i.position }.try(:to_s).presence
          - real_price = (product.price.to_f * price_multiplier.to_f).ceil.to_i
          - is_yandex = offer_available == 'false'
          %offer{ id: product.id, available: offer_available }
            %url= "http://evotex.com.ua/p/#{product.slug}/#{product.id}"
            - if has_old_price
              %price= real_price
              %oldprice= product.old_price.to_i
            - else
              %price= real_price
            %currencyId UAH
            %categoryId{:type => "Own"}= category.id
            - if image_url
              %picture= image_url
            %name= ERB::Util.html_escape "#{product.name}"
            - if is_yandex
              %sales_notes
                - if (1..5000).include?(real_price)
                  Предоплата не требуется.
                - elsif (5000..50000).include?(real_price)
                  Необходима предоплата.
                - else
                  Предоплата 100%.
            - if warranty
              %manufacturer_warranty true
              %param{:name => "Гарантия", :unit => "Месяцев"}= warranty.name.to_i
