.page-header
  %h1 Новое значение фильтра
.row
  = form_for(@filter_value, url: admin_filter_values_path) do |f|
    %ul.list-group
      %li.list-group-item
        = f.label :catalog_filter_id, "Фильтр"
        = f.select :catalog_filter_id, Catalog::Filter.all.map { |f| [f.name, f.id] }, {},class: 'form-control'
      %li.list-group-item= field_for(f, :name)
      %li.list-group-item= field_for(f, :display_name)
    = f.submit 'Отправить', class: 'btn btn-success'
