.well
  .row
    = form_for(@category, url: @category.persisted? ? admin_category_path(@category) : admin_categories_path) do |f|
      .col-xs-12
        = render 'shared/error_messages', object: f.object
      .col-sm-3
        %h3 Основное
        %ul.list-group
          %li.list-group-item= field_for(f, :name)
          %li.list-group-item= field_for(f, :s_name)
          %li.list-group-item
            = select_field_for f, :catalog_taxon_id, Catalog::Taxon.all.map{ |t| [t.name, t.id] }, prompt: 'Выберите меню'
          %li.list-group-item= field_for(f, :tax_threshold)
          %li.list-group-item= field_for(f, :tax)
          %li.list-group-item= field_for(f, :tax_max)
          %li.list-group-item
            = select_field_for(f, :active, [['Нет','f'],['Да','t']], selected: f.object.active ? 't' : 'f')
      .col-sm-9
        %h3 Описание
        %ul.list-group
          %li.list-group-item
            = field_for f, :description, :cktext_area, ckeditor: { language: :ru }
        %h3 SEO
        - f.object.build_seo unless f.object.seo
        %ul.list-group
          = render 'shared/seo_attributes', seo: f.object.seo, f: f
        .form-actions
          = link_to 'Обновить позиции', admin_category_reorder_all_properties_path(@category), class: 'btn btn-default', method: :post, remote: :true if @category.persisted?
          = f.submit f.object.persisted? ? 'Обновить' : 'Создать', class: 'btn btn-success'

  - if @category.persisted?
    .row
      .col-sm-4
        %h3 Характеристики
        = render 'admin/categories/properties', category_properties: @category.category_properties
      .col-sm-4
        %h3 Фильтры
        = render 'admin/categories/filters', category: @category
      .col-sm-4
        %h3 Синонимы
        = form_for @category, url: admin_category_path(@category) do |f|
          = f.text_area :all_aliases, rows: 10, class: 'form-control'
          .form-actions
            = f.submit 'Изменить синонимы', class: 'btn btn-success'



