.well
  .row

    .col-sm-4
      = form_for(@category, url: @category.persisted? ? admin_category_path(@category) : admin_categories_path) do |f|
        %h3 Основное
        %ul.list-group
          %li.list-group-item= field_for(f, :name)
          %li.list-group-item= field_for(f, :tax_threshold)
          %li.list-group-item= field_for(f, :tax)
          %li.list-group-item= field_for(f, :tax_max)
        .form-actions
          = link_to 'Обновить позиции', admin_category_reorder_all_path(@category), class: 'btn btn-default', method: :post, remote: :true if @category.persisted?
          = f.submit f.object.persisted? ? 'Обновить' : 'Создать', class: 'btn btn-success'
    - if @category.persisted?
      .col-sm-4
        %h3 Характеристики
        = render 'admin/categories/properties', category_properties: @category.category_properties

      .col-sm-4
        %h3 Фильтры


