= form_for(@product, url: @product.persisted? ? admin_product_path(@product) : admin_products_path , remote: true, data: { autoupdate: true }) do |f|
  = render 'shared/error_messages', object: f.object
  = render 'main_settings', f: f
- if @product.persisted?
  = form_for(@product, url: admin_product_path(@product) ) do |f|
    = render 'images', f: f

  = render 'filters_and_properties'
