.row
  .col-xs-12
    %h3.text-center Изображения
  .col-xs-12
    .row
      = f.fields_for :images, f.object.images.includes(:imageable).sort_by(&:position) do |f_i|

        - if f_i.object.persisted?
          .col-sm-2.col-md-2.col-lg-1
            = f_i.check_box :_destroy
            = f_i.label :_destroy, 'Удалить'
            .thumbnail
              = image_tag 'lazy-spinner.gif', class: 'img-responsive lazy', 'data-original' => f_i.object.attachment
            = field_for f_i, :position
    %hr/
    .row
      .col-sm-3
        = field_for f, :images_from_url, :text_field
      .col-sm-3
        = field_for f, :multiple_remote_images, :text_area
      .col-sm-3
        .btn.btn-default.btn-file.form-control
          Добавить изображения с компьютера
          = f.file_field :images_from_pc, multiple: true, class: 'form-control'
      .col-sm-3
        = f.submit 'Обновить изображения', class: 'btn btn-success form-control'
