.row
  .col-xs-12
    %h3.text-center Изображения
  .col-xs-12
    .row
      = f.fields_for :images, f.object.images.includes(:imageable) do |f_i|

        - if f_i.object.persisted?
          .col-sm-2.col-md-2.col-lg-1
            = f_i.check_box :_destroy
            = f_i.label :_destroy, 'Удалить'
            .thumbnail= image_tag f_i.object.attachment, class: 'img-responsive'
    .row
      .col-sm-3.col-sm-offset-6
        = f.text_field :images_from_url, class: 'form-control', placeholder: 'Ссылка для скачивания'
      .col-sm-3.text-right
        .btn.btn-default.btn-file
          Добавить изображения с компьютера

          = f.file_field :images_from_pc, multiple: true, class: 'form-control'
