
.row
  .col-xs-12
    %h3.text-center Основное
  .col-sm-5
    %ul.list-group
      %li.list-group-item= field_for f, :name
      %li.list-group-item
        = field_for f, :model
        = link_to 'Парсить', update_from_marketplace_admin_product_path(@product), method: :post if @product.persisted?
      %li.list-group-item
        = field_for f, :fixed_price, :check_box
        = field_for f, :newest, :check_box
        = field_for f, :homepage, :check_box
        = field_for f, :hit, :check_box
  .col-sm-3
    %ul.list-group
      %li.list-group-item= select_field_for f, :catalog_category_id, Catalog::Category.all.map{ |c| [c.name, c.id] }, prompt: 'Выберите категорию'
      %li.list-group-item= select_field_for f, :catalog_brand_id, Catalog::Brand.all.map{ |b| [b.name, b.id] }, prompt: 'Выберите бренд'
      %li.list-group-item= field_for f, :accessories
  .col-sm-2
    %ul.list-group
      %li.list-group-item= field_for f, :price, :text_field, disabled: !f.object.fixed_price?
      %li.list-group-item= field_for f, :fixed_tax, :text_field, disabled: !f.object.fixed_price?
      %li.list-group-item= field_for f, :old_price
  .col-sm-2
    %li.list-group-item= field_for f, :main_name
    %li.list-group-item= field_for f, :video

.row
  .col-sm-8
    %ul.list-group
      %li.list-group-item
        = field_for f, :description, :cktext_area, ckeditor: { language: :ru }
        .form-actions= f.submit 'Сохранить', class: 'btn btn-xs btn-info'
  .col-sm-4
    - @product.build_seo unless @product.seo
    = render 'shared/seo_attributes', seo: @product.seo, f: f
