%ul.list-group
  - marketplaces.each do |marketplace|
    %li.list-group-item
      - if marketplace[:do_not_show]
        = link_to 'Не в наличии из источника', marketplace[:url]
        .pull-right
          .label.label-info= URI.parse(marketplace[:url]).host
      - else

        .row
          .col-sm-4
            = link_to marketplace[:url] do
              = image_tag marketplace[:image], class: 'img-responsive'
          .col-sm-8
            .pull-right
              .label.label-info= URI.parse(marketplace[:url]).host
            = link_to marketplace[:name], marketplace[:url]
            %br/
            = marketplace[:price]
            грн.

            %hr/
            .row
              .col-sm-8
                = select_tag :category, options_for_select(Catalog::Category.all.map { |c| [c.name, c.id] }), class: 'form-control select2', id: false
              .col-sm-4.text-center
                = link_to 'Загрузить', '#', class: 'btn btn-primary', 'data-product-scraper' => true, 'data-url' => marketplace[:url]
