= f.fields_for :seo, seo do |f_seo|
  .col-sm-2
    %ul.list-group
      %li.list-group-item= field_for f_seo, :keywords
      %li.list-group-item= field_for f_seo, :title
      %li.list-group-item= field_for f, :slug
  .col-sm-3
    %ul.list-group
      %li.list-group-item= field_for f_seo, :description, :text_area, rows: 8
