.jumbotron
  = search_form_for @q, url: search_admin_products_path do |f|
    .row
      .col-xs-12
        .form-group
          = f.search_field :name_or_id_or_model_cont, class: 'form-control', placeholder: 'Название, модель или артикул'
    .row
      .col-sm-4
        .form-group
          = f.select :catalog_brand_id_null, options_for_select([['Бренд есть', '0'],['Бренда нет', '1']], params[:q].try(:fetch, :catalog_brand_id_null)), { prompt: 'По наличию бренда' }, class: 'form-control select2'
      .col-sm-4
        .form-group
          = f.select :category_id_eq, options_for_select(Catalog::Category.all.map{ |c| [c.name, c.id] }, params[:q].try(:fetch, :category_id_eq)), {prompt: 'Выберите категорию'}, class: 'form-control select2'
      .col-sm-4
        .form-group
          = f.select :catalog_brand_id_eq, options_for_select(Catalog::Brand.all.map{ |b| [b.name, b.id] }, params[:q].try(:fetch, :catalog_brand_id_eq)), {prompt: 'Выберите бренд'},class: 'form-control select2'
    .row
      .col-sm-4
        .form-group
          = f.select :with_filters, options_for_select([['С фильтрами','y'], ['Без фильтров','n']], params[:q].try(:fetch, :with_filters)), {prompt: 'По наличию фильтров'}, class: 'form-control select2'
      .col-sm-4
        .form-group
          = f.select :with_properties, options_for_select([['С характеристиками','y'], ['Без Характеристик','n']], params[:q].try(:fetch, :with_properties)), {prompt: 'По наличию характеристик'}, class: 'form-control select2'
      .col-sm-4
        .form-group
          = f.select :with_bound, options_for_select([['Привязанные','y'], ['Не привязанные','n']], params[:q].try(:fetch, :with_bound)), {prompt: 'По наличию привязки'},class: 'form-control select2'

    .row
      .col-xs-12
        .form-actions
          = f.submit 'Найти', class: 'btn btn-success'

.page-header
  = link_to new_admin_product_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новый товар
  %h1
    Товары
    %small (#{@all_products_count})

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Код
        %th Информация
        %th Наименование
        %th Входная цена
        %th Цена на продажу
    %tbody
      - @products.each do |product|
        %tr
          %td{ width: 50 }
            = product.id
            %br/
            = image_tag 'lazy-spinner.gif', class: 'thumbnail img-responsive lazy', size: '50x50', 'data-original' => product.preview_path
          %td

            Фильтров:
            = product.product_filters.count
            %br/
            Характеристик:
            = product.product_properties.count
            %br
              Привязано:
              = product.vendor_products.count
          %td
            = link_to product.name, edit_admin_product_path(product)
          %td
            = product.in_price
          %td
            = "#{product.price.to_i} (#{product.price.to_i - product.in_price.to_i})"
          %td.text-center
            = link_to admin_product_path(product), method: :delete, class: 'btn btn-xs btn-danger', 'data-confirm' => 'Вы уверены?' do
              %i.glyphicon.glyphicon-remove
    %tfoot
      %tr
        %td.text-center{ colspan: 6 }
          = paginate @products
