.page-header
  = link_to new_admin_product_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новый товар
  %h1 Товары

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Артикул
        %th Наименование
        %th Цена
    %tbody
      - @products.each do |product|
        %tr
          %td
            = product.id
            = product.vendor_products.count
          %td
            = link_to product.name, edit_admin_product_path(product)
          %td
            = product.price
    %tfoot
      %tr
        %td.text-center{ colspan: 2 }
          = paginate @products
