.product.product_top-card
  .product_wrapper
    .product_inner{ class: css }
      .product_special
        .product_top.label{ class: "label-#{css}" }= name
      = render 'products/mini_card/articul', product: product
      = render 'products/mini_card/cover_image', product: product
      = render 'products/mini_card/name', product: product
      = render 'products/mini_card/compare_button', product: product
      = render 'products/mini_card/price', product: product
      = render 'products/mini_card/order_buttons', product: product
      = render 'products/mini_card/hover_properties.html.haml', product: product


