.col-md-3
  %h2 Фильтры
  %hr/
  %h5.text-center Название
  .row
    .col-xs-12
      = text_field :name, '', class: 'form-control', 'data-name' => true, value: params[:name]
  %hr/
  %h5.text-center Цена
  .row
    .col-sm-6
      %label От
      = text_field :price_min, '', value: params[:min], class: 'form-control', 'data-price-min' => true
    .col-sm-6
      %label До
      = text_field :price_max, '', value: params[:max], class: 'form-control', 'data-price-max' => true
  %hr/
  - if brands.present?
    %h5.text-center Производитель
    = render collection: brands, as: :brand, partial: 'categories/brand'
  = render collection: filters.sort_by(&:position), as: :filter, partial: 'categories/filter',locals: { products: all_products }
.col-md-9
  .container-fluid
    .row
      .col-md-8.col-sm-9.col-xs-6
        %h2
          Результат поиска
          %small
            (
            = products_count
            )
      .col-md-4.col-sm-3.col-xs-6
        .text-right
          Сортировать по цене:
          = select_tag :o, options_for_select([['сначала самые дешевые','a'],['сначала самые дорогие','d']], params[:o]), 'data-sort' => true

  - if products.present?
    = render collection: products, partial: 'products/search_card', as: :product
  - else
    По текущему запросу товары не найдены
  .col-xs-12.text-center
    = paginate products, remote: true if products.respond_to?(:current_page)
