.product
  .product_wrapper
    .product_inner
      .product_list-left
        = render 'products/articul', product: product
        = render 'products/cover_image', product: product
        = render 'products/name', product: product
        = render 'products/compare_button', product: product
        = render 'products/price', product: product
        = render 'products/order_buttons', product: product
      .product_list-right
        = render 'products/hover_properties.html.haml', product: product

