.col-sm-4
  .product.well

    .product_articul
      .label.label-info
        Артикул:
        = product.id
    .text-center
      %br/
      - if product.images.present?
        .product_image
          .thumbnail
            = link_to p_path(slug: product.slug, id: product.id) do
              = image_tag product.images.includes(:imageable).first, class: 'img-responsive'
      .product_name
        = link_to product.name, p_path(slug: product.slug, id: product.id)
      Добавить в сравнение
      .product_price= price_for(product)
      = render 'products/order_buttons', product: product

