.product
  .product_wrapper
    .product_inner
      .product_list-left
        .product_articul
          .label.label-warning
            Код:
            = product.id
        .product_image
          = link_to p_path(slug: product.slug, id: product.id) do
            = image_tag product.preview_path, class: 'img-responsive'
        .product_name
          = link_to product.name, p_path(slug: product.slug, id: product.id)
        = render 'products/compare_button', product: product
        .product_price
          = price_for(product)
        = render 'products/order_buttons', product: product
      .product_list-right
        .product_properties
          = product_properties_for(product)

