.product.product_top-card
  .product_wrapper
    .product_inner{ class: css }
      .product_special
        .product_top.label{ class: "label-#{css}" }= name
      = render 'products/articul', product: product
      = render 'products/cover_image', product: product
      = render 'products/name', product: product
      = render 'products/compare_button', product: product
      = render 'products/price', product: product
      = render 'products/order_buttons', product: product
      = render 'products/hover_properties.html.haml', product: product


