.page-header
  %h1
    Поиск по запросу
    %b= params[:q][:name_or_id_or_model_cont]

.row
  .col-sm-3
    %h2 Найдено
    %ul.list-group
      - @grouped_hash.sort_by{ |arr| -arr.last.to_i }.each do |arr|
        %li.list-group-item
          = link_to arr.first.name, category_path(arr.first.id, name: params[:q][:name_or_id_or_model_cont])
          %b= "(#{arr.last})"
  .col-sm-9
    = render collection: @products, partial: 'products/search_card', as: :product
    .col-xs-12
      .text-center
        = paginate @products
