- total = 0
.page-header
  %h1
    Поиск по запросу
    %b= params[:q][:main_search]

.row
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4.panel-title В категориях
      .panel-body
        %ul.list-group
          - @grouped_hash.sort_by{ |arr| -arr.last.to_i }.each do |arr|
            - total += arr.last
            %li.list-group-item
              = link_to arr.first.name, c_path(slug: arr.first.slug, id: arr.first.id, name: params[:q][:main_search])
              %b= "(#{arr.last})"
  .col-sm-9
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          Результаты
          %small= "(#{total})"
      .panel-body.text-center
        = render collection: @products, partial: 'products/search_card', as: :product
      .panel-footer
        .text-center
          = paginate @products
