- @meta_title = @product.seo.try(:title).presence || @product.seo_template
- @meta_keywords = @product.seo.try(:keywords)
- @meta_description = @product.seo.try(:description)
= render 'products/lists/vendor', product: @product
.row
  .col-sm-12
    = render 'products/cards/inner_new', product: @product
%h2 Отзывы о товаре <b>#{@product.name}</b>
= render 'products/card/comments', product: @product
%h2 Другие товары в интернет-магазине Evotex
= render 'products/lists/accessories', product: @product
= render 'products/lists/similars', product: @product
- if false
  - cache ['catalog_menu', Catalog::Taxon.pluck(:updated_at).map(&:to_i)] do
    = render 'shared/menu_bar'
= render 'products/slides'
= render 'products/homepage_tops', hit: @hit, newest: @newest, homepage: @homepage
