.page-header
  = render 'form'
  = link_to new_admin_property_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новая характеристика
  %h1 Характеристики
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Имя
    %tbody
      - @properties.each do |property|
        %tr
          %td
            = property.name
          %td
            = link_to 'Изменить', edit_admin_property_path(property)
          %td
            = link_to admin_property_path(property), method: :delete, class: 'btn btn-xs btn-danger', 'data-confirm' => 'Вы уверены?' do
              %i.glyphicon.glyphicon-remove
    %tfoot
      %tr
        %td.text-center{ colspan: 6 }
          = paginate @properties
