!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title
      = (content_for?(:title) ? yield(:title) : @title) || 'Киоск'
    = stylesheet_link_tag 'application', 'admin'

    = csrf_meta_tags
  %body
    = render 'layouts/nav/admin'
    .container
      .row
        .col-sm-6.col-sm-offset-3
          - flash.each do |name, msg|
            = content_tag :div, :class => "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", :role => "alert" do
              %button.close{:type => "button", :data => {:dismiss => "alert"} }
                %span{:aria => {:hidden => "true"} } &times;
                %span.sr-only Закрыть
              = msg
    .container
      = yield
    .container-fluid
      = yield :container_fluid
    %footer.jumbotron
      .container
        &copy; 2015
    = render 'shared/modals'
    = javascript_include_tag 'application', 'admin', '//cdn.jsdelivr.net/webshim/1.15.7/polyfiller.js'
    :javascript
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
