!!!
%html
  %head
    = render 'layouts/catalog_meta_bar'
    = render 'shared/head_assets'
    = favicon_link_tag '/favicon.ico'
    %style= Conf['txt.css'].try(:html_safe)
    = yield :ogg_meta
    = csrf_meta_tags
  %body
    = link_to '#animated-header', class: 'cd-top' do
      %i.glyphicon.glyphicon-chevron-up
    = render 'layouts/nav/catalog'
    = render 'shared/top_bar'
    = render 'shared/flash_bar'
    .container
      = yield
    = render 'shared/footer_bar'
    = render 'shared/catalog_modals'
    = javascript_include_tag 'application', 'catalog'
    - if !(current_user && current_user.admin?) && !Rails.env.development?
      %script= Conf['txt.js'].try(:html_safe)
    = yield :post_scripts

