!!!
%html
  %head
    = render 'layouts/catalog_meta_bar'
    = render 'shared/head_assets'
    = csrf_meta_tags
  %body
    = render 'layouts/nav/catalog'
    = render 'shared/top_bar'
    .container
      = render 'shared/flash_bar'
    .container
      = yield
    = render 'shared/footer_bar'
    = javascript_include_tag 'application'
