!!!
%html
  %head
    = render 'layouts/catalog_meta_bar'
    = render 'shared/head_assets'
    = favicon_link_tag '/favicon.ico'
    %style= Conf['txt.css']
    = csrf_meta_tags
  %body
    = render 'layouts/nav/catalog'
    = render 'shared/top_bar'
    = render 'shared/flash_bar'
    .container
      = yield
    = render 'shared/footer_bar'
    = render 'shared/catalog_modals'
    = javascript_include_tag 'application', 'catalog'
    %script= Conf['txt.js']
    = yield :post_scripts

